# Keep secrets and local DB out of VCS
.env
*.env

# Django local DB
/db.sqlite3

# local
backend/plans/

# Django compiled files
backend/verfai/__pycache__/
backend/src/apps/**/__pycache__/
backend/src/infrastructure/**/__pycache__/
backend/src/use_cases/**/__pycache__/